<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon type=image/x-icon href=/static/img/favicon.ico><title>Spark Time - 愿生如夏花般绚烂，死如秋叶般静美</title><style type=text/css>body{
        margin: 0;
      }</style><script async src="https://www.googletagmanager.com/gtag/js?id=UA-143694104-1"></script><script>window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143694104-1');</script><link href=/static/css/app.ecf8e9ab9c2ca3f6a5731160d50f0f0e.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.3ede08625c785727e67b.js></script><script type=text/javascript src=/static/js/app.06308a527575b608d5dd.js></script></body></html>